<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nordic Motorhome</title>
    <link rel="stylesheet" type="text/css" href="MyCSS.css">
</head>
<body>
<ul>
    <p style="color: wheat; text-align: left; float: left; padding-left: 10px; font-weight: bold"><a href="/" style="color: wheat; text-align: left; float: left; padding-left: 10px; font-weight: bold">Welcome to Nordic Motorhome</a></p>
    <li><a class="dtopbtn" href="/motorhome">Motorhomes</a></li>
    <li><a class="dtopbtn" href="/customer">Customers</a></li>
    <li><a class="dtopbtn" href="/rental">Rentals</a></li>

</ul>

<h1 class="customerHeader">Create New Rental</h1>
<div class="wrapperCreateCustomer">
    <form action="/createRental" method="post">
        <div class="customerParagraph">
            <label>
                Enter Customer Id<input type="text" name="customer_id" placeholder="Enter customer_id">
            </label>
            <label>
                Enter Motorhome Id<input type="text" name="motorhome_id" placeholder="Enter motorhome id">
            </label>
            <label>
                Enter rental start date<input type="text" name="rental_start_date" placeholder="Enter rental start date">
            </label>
            <label>
                Enter rental start time<input type="time" name="start_time" placeholder="Enter rental start time">
            </label>
            <label>
                Enter Bike Rack<input type="text" name="bike_rack" placeholder="Enter bike_rack">
            </label>
            <label>
                Enter Bed Linen<input type="text" name="bed_linen" placeholder="Enter bed_linen">
            </label>
            <label>
                Enter Chairs<input type="text" name="chairs" placeholder="Enter chairs">
            </label>
            <label>
                Enter Picnic Table<input type="text" name="picnic_table" placeholder="Enter picnic_table">
            </label>
            <label>
                Enter Child Seat<input type="text" name="child_seat" placeholder="Enter child_seat">
            </label>
            <label>
                Enter KM Start<input type="text" name="km_start" placeholder="Enter km_start">
            </label>
            <fieldset>
                <legend style="font-weight: bold">Choose the season</legend>
                <input type="radio" id="season1" name="season" value="Peak">
                <label for="season1">Peak-season</label><br>
                <input type="radio" id="season2" name="season" value="Middle">
                <label for="season2">Middle-season</label><br/>
                <input type="radio" id="season3" name="season" value="Low">
                <label for="season3">Low-Season</label>
            </fieldset>
            <label>
                Enter Pick Up<input type="text" name="pick_up" placeholder="Enter pick_up">
            </label>
            <label>
                Enter Pick Up Extra<input type="text" name="pick_up_extra" placeholder="Enter pick_up_extra">
            </label>

            <div class="createCustomer">
                <button type="submit" value="Create new Rental">Add Rental</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>