<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nordic Motorhome</title>
    <link rel="stylesheet" type="text/css" href="MyCSS.css" />
    <style>
        td {
            text-align: center;
        }

    </style>
</head>
<body>
<ul>
    <p style="color: wheat; text-align: left; float: left; padding-left: 10px; font-weight: bold"><a href="/" style="color: wheat; text-align: left; float: left; padding-left: 10px; font-weight: bold">Welcome to Nordic Motorhome</a></p>
        <li><a class="dtopbtn" href="/motorhome">Motorhomes</a></li>
        <li><a class="dtopbtn" href="/customer">Customers</a></li>
        <li><a class="dtopbtn" href="/rental">Rentals</a></li>
</ul>
<table width="100%">
    <tbody>
        <td>
            <div class="urbanplus">
                <a href="#">
                <img src="img/urbanplus.jpg" style="height: auto" width="240px">
                </a>
                <h3>Urban Plus Motorhomes</h3>
                <p>Type: A</p>
                <p>Category: Campervan</p>
                <p>Persons: 2</p>
                <p>Length: 5.41 m</p>
                <p>Transmission: Manual</p>
                <p>Power source: Diesel</p>
            </div>
        </td>

        <td>
            <div class="compactplus">
                <img src="img/compactplus.jpg" style="height: auto" width="240px">
                <h3>Compact Plus Motorhomes</h3>
                <p>Type: B</p>
                <p>Category: Motorhome Class B</p>
                <p>Persons: 3</p>
                <p>Length: 5.99 m</p>
                <p>Transmission: Manual</p>
                <p>Power source: Diesel</p>
            </div>
        </td>
        <td>
            <div class="familyplus">
                <img src="img/familyplus.jpg" style="height: auto" width="240px">
                <h3>Family Plus Motorhomes</h3>
                <p>Type: C</p>
                <p>Category: Motorhome Class C</p>
                <p>Persons: 4</p>
                <p>Length: 6.51 m</p>
                <p>Transmission: Manual</p>
                <p>Power source: Diesel</p>
            </div>
        </td>
        <td>
            <div class="premiumplus">
                <img src="img/premiumplus.jpg" style="height: auto" width="240px">
                <h3>Premium Plus Motorhomes</h3>
                <p>Type: D</p>
                <p>Category: Motorhome Class C</p>
                <p>Persons: 5</p>
                <p>Length: 8.6 m</p>
                <p>Transmission: Manual</p>
                <p>Power source: Diesel</p>
            </div>
        </td>
    </tbody>
</table>
<table width="100%">
    <tbody>
        <td>
            <div class="urbanluxury">
                <img src="img/urbanluxury.jpg" style="height: auto" width="240px">
                <h3>Urban Luxury Motorhomes</h3>
                <p>Type: E</p>
                <p>Category: Pop Top Camper</p>
                <p>Persons: 4</p>
                <p>Length: 5.41 m</p>
                <p>Transmission: Manual</p>
                <p>Power source: Diesel</p>
            </div>
        </td>
        <td>
            <div class="compactluxury">
                <img src="img/compactluxury.jpg" style="height: auto" width="240px">
                <h3>Compact Luxury Motorhomes</h3>
                <p>Type: F</p>
                <p>Category: Motorhome Class B</p>
                <p>Persons: 4</p>
                <p>Length: 6.95 m</p>
                <p>Transmission: Manual</p>
                <p>Power source: Diesel</p>
            </div>
        </td>
        <td>
            <div class="familyluxury">
                <img src="img/familyluxury.jpg" style="height: auto" width="240px">
                <h3>Family Luxury Motorhomes</h3>
                <p>Type: G</p>
                <p>Category: Motorhome Class C</p>
                <p>Persons: 6</p>
                <p>Length: 7.28 m</p>
                <p>Transmission: Manual</p>
                <p>Power source: Diesel</p>
            </div>
        </td>
        <td>
            <div class="premiumluxury">
                <img src="img/premiumluxury.jpg" style="height: auto" width="240px">
                <h3>Premium Luxury Motorhomes</h3>
                <p>Type: H</p>
                <p>Category: Motorhome Class A</p>
                <p>Persons: 6</p>
                <p>Length: 8.71 m</p>
                <p>Transmission: Manual</p>
                <p>Power source: Diesel</p>
            </div>
        </td>
    </tbody>
</table>


</body>
</html>