<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Successfully created Customer</title>
    <link rel="stylesheet" type="text/css" href="../Succes.css" />
</head>
<body>
<ul>
    <p style="color: wheat; text-align: left; float: left; padding-left: 10px; font-weight: bold"><a href="/" style="color: wheat; text-align: left; float: left; padding-left: 10px; font-weight: bold">Welcome to Nordic Motorhome</a></p>
  <li><a class="dtopbtn" href="/motorhome">Motorhomes</a></li>
  <li><a class="dtopbtn" href="/customer">Customers</a></li>
  <li><a class="dtopbtn" href="/rental">Rentals</a></li>
</ul>
<div class="completed">
  <img src="img/completed.png">
    <div class="text">
      <h3 style="color: green; size: 20px">You successfully created the Customer</h3>
      <a href="/customer">
        <button>Return</button>
      </a>
    </div>
</div>
</body>
</html>